.nav{grid-area:nav;}
.main{grid-area:main;}
.footer{grid-area:foot;}


.css-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 4fr 2fr;
    grid-template-areas:
        "nav nav nav"
        "main main main"
        "foot foot foot";
}

.nav,.main,.footer {
    text-align: center;
}

.nav img {
    width: 100px;  
    height: 100px; 
    padding: 10px; 
}

.nav {
    display: flex; 
    justify-content: center; 
    background-color: rgb(22, 22, 70); 
    color: white; 
    align-items: center; 
}

.nav h1 {
    display: flex;  
    align-items: center; 
    
}

.carousel-1 {
    width: 300px; 
    height: 300px; 
}

.carousel-2 {
    width: 300px; 
    height: 300px; 
}

.carousel-3 {
    width: 300px; 
    height: 300px; 
}

.footer {
    background-color: rgb(22, 22, 70); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

@media all and (max-width: 600px) {
    .footer {
      background-color: rgb(45, 94, 110);
    }
}

@media all and (max-width: 600px) {
    .nav {
        background-color: rgb(45, 94, 110);
    }
}

.footer p {
    color: white; 
}

.carousel-control-next-icon {
    background-color:rgb(22, 22, 70);
}

.carousel-control-prev-icon {
    background-color:rgb(22, 22, 70); 
}

h3 {
    padding: 20px; 
}

